{% extends "base.html" %}
{% block content %}

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Choose Healthy</h3>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">{{pagetext}}</h1>
<br>
          <br>
          <br>
          

        <p class="lead"><a class="btn btn-lg btn-info" href="/background">Learn
        more</a></p>
      </div>
<br>
        <br>
        <br>
        <br>
        <br>
      <div class="mastfoot">
        <div class="inner">
          <p>Ellen Ambrose - The Data Incubator Spring 2016</p>
        </div>
      </div>
    </div>
</div>
</div>
{% endblock %}

